<div class="newsletter" id="mc_embed_signup">
  <h2 class="newsletter-title">Newsletter</h2>
  <div class="form-container">
    <p>Subscribe here to get our latest updates</p>
    <form action="https://github.us8.list-manage.com/subscribe/post" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="hidden" name="u" value="388689a1831d6d3ed95ed0bfd">
      <input type="hidden" name="id" value="4a8dd88022">
      <label class="screen-reader-text" for="mce-EMAIL">Email Address</label>
      <div class="newsletter-box" id="mc_embed_signup_scroll">
        <input type="email" name="EMAIL" placeholder="Email address" class="email-input" id="mce-EMAIL" required>
        <input type="submit" value="Subscribe" name="subscribe" class="subscribe-btn" id="mc-embedded-subscribe">
      </div>
      <input type="hidden" name="ht" value="7dc3f2a87b95f9066d96c8664c3f9717c85c1a63:MTU4NzY2NzIxMi41MTM1">
      <input type="hidden" name="mc_signupsource" value="hosted">
    </form>
  </div>
</div> <!-- End Newsletter -->
